<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <title>Thesis by Supervisor and Status</title>
  <meta charset="UTF-8">
  <link href="/static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div th:fragment="navigation">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/DiplomaAssignment">Assignments</a>
        </li>
        <!-- Add other navigation links as needed -->
      </ul>
    </div>
  </nav>
</div>

<h2>Assignments by Supervisor and Status</h2>


<table class="table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Goal</th>
    <th>Technologies</th>
    <th>Student</th>
    <th>Supervisor</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="assignment : ${assignmentsBySupervisorAndStatus}">
    <td th:text="${assignment.title}"></td>
    <td th:text="${assignment.goal}"></td>
    <td th:text="${assignment.technologies}"></td>
    <td th:text="${assignment.studentId}"></td>
    <td th:text="${assignment.supervisorId.name}"></td>
    <td th:text="${assignment.status}"></td>
  </tr>
  </tbody>
</table>

<footer page-footer font-small>
</footer>
</body>
</html>
